body {
  margin: 0px;
  font-family: roboto;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .header__logo {
  padding: 50px;
}
header .header__localisation {
  background-color: #eaeaea;
  padding: 10px 0px 10px 0px;
  width: 100%;
  text-align: center;
  font-size: 27px;
  color: #353535;
  font-weight: 400;
}
header .header__localisation i {
  padding-right: 40px;
}
header .header__banner {
  background-color: #f6f6f6;
  width: 100%;
  padding-bottom: 100px;
  padding-top: 50px;
  padding-bottom: 150px;
  text-align: center;
}
header .header__banner--title {
  padding: 0% 15% 0% 15%;
  font-size: 55px;
}
header .header__banner--paragraph {
  color: #353535;
  font-weight: 300;
  padding: 0% 8% 0% 8%;
  font-size: 25px;
  padding-bottom: 70px;
}
header .header__banner--button {
  padding: 10px;
}
header .header__banner--button--link {
  text-decoration: none;
  background: linear-gradient(50deg, #9356DC, #FF79DA);
  padding: 40px 40px;
  border-radius: 60px;
  color: white;
}

.filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 200px;
}
.filters .filters__title {
  font-size: 40px;
  display: flex;
  align-self: flex-start;
  padding-left: 5%;
  padding-top: 90px;
}
.filters .filters__contener {
  display: flex;
  flex-direction: column;
}
.filters__contener--button {
  display: flex;
  align-self: flex-start;
  position: relative;
  top: 120px;
  right: 30px;
  border-radius: 50%;
  padding: 15px 26px;
  color: white;
  background-color: #9356DC;
  border: #9356DC;
  font-size: 35px;
}
.filters__contener--link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  padding: 60px 40px;
  border-radius: 50px;
  background-color: #f6f6f6;
  font-size: 36px;
  width: 750px;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.2);
}
.filters__contener--link i {
  padding-right: 30px;
  color: #7E7E7E;
}

.restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
}
.restaurants .restaurants__title {
  display: flex;
  align-self: flex-start;
  padding-left: 8%;
  font-size: 50px;
  margin-top: 50px;
}
.restaurants .restaurants__cards {
  display: flex;
  flex-direction: column;
}
.restaurants__cards--card {
  width: 900px;
  background-color: #ffffff;
  border-radius: 40px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.restaurants__cards--card-img {
  width: 100%;
  height: 450px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants__cards--card-content {
  width: 100%;
  padding-left: 70px;
  height: 170px;
  position: relative;
}
.restaurants__cards--card-content-title {
  color: black;
  font-size: 40px;
  margin-bottom: -20px;
  margin-top: 30px;
}
.restaurants__cards--card-content-subtitle {
  color: black;
  font-size: 35px;
}
.restaurants__cards--card-like {
  display: flex;
  align-self: flex-end;
  position: absolute;
  bottom: 45px;
  right: 60px;
}
.restaurants__cards--card-like i {
  font-size: 50px;
  color: black;
  transition-property: all;
  transition: background-color 1000ms ease-in-out;
}
.restaurants__cards--card-like i:hover {
  font-weight: 900;
  color: transparent;
  background: linear-gradient(50deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
}

footer {
  background-color: #353535;
  width: 100%;
  padding-left: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}
footer .footer__logo {
  color: white;
  width: 200px;
  padding-bottom: 10px;
}
footer .footer__links {
  display: flex;
  flex-direction: column;
}
footer .footer__links a {
  color: white;
  padding-top: 20px;
  font-size: 30px;
}
footer .footer__links i {
  padding-right: 10px;
}/*# sourceMappingURL=index.css.map */