// variables et mixin
@mixin title-text {
    font-size: 18px;
    font-weight: bold;
}
@mixin card_menu-text {
    font-size: 16px;
    font-weight: 300;
}

$mainbgcolor : #ffffff;
$bgcolor1 :  #eaeaea; 
$bgcolor2 : #f6f6f6;
$color1 :  #8de4db;
$color2 :  #9356DC;
$colortxtwhite : white;

  /* animation keyframes */
  
  @keyframes desapear {
    0% {
       visibility: visible;
    }
    100% {
        visibility: hidden;
    }
}

    @keyframes languageSwitch {
    0% {
      bottom: 0;
    }
    15% {
      bottom: 0;
    }
    20% {
      bottom: 90px;
    }
    35% {
      bottom: 90px;
    }
    40% {
      bottom: 180px;
    }
    55% {
      bottom: 180px;
    }
    60% {
      bottom: 270px;
    }
    75% {
      bottom: 270px;
    }
    80% {
      bottom: 360px;
    }
    95% {
      bottom: 360px;
    }
    100% {
      bottom: 450px;
    }
  }
  


// main
body{
    margin: 0px;
    font-family: roboto;
    background-color: $mainbgcolor;
    width: 100%;
}
a {
    text-decoration: none;
}

// loader
.loader {
    background: $color1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    height: 100%;
    width: 100%;
    z-index: 4;
    animation: desapear;
    animation-duration: 4800ms;
    animation-fill-mode: both;
    &__Wrapper {
        height: 90px;
        overflow: hidden;
        &--Inner {
            position: relative;
            animation-name: languageSwitch;
            animation-duration: 4000ms;
            animation-fill-mode: forwards;
            animation-delay: 1s;
            display: flex;
            align-items:center;
            flex-direction:column;
        &-txt {
            font-family: roboto;
            font-size: 52px;
            font-weight: 900;
            color: $colortxtwhite ;
            height: 90px;
            display: flex;
            align-items: center;
     }
        &-txt-OMF {
            font-family: "Shrikhand", serif;
            font-size: 52px;
            font-weight: 900;
            color: $colortxtwhite ;
            height: 90px;
            display: flex;
            align-items: center;
        }
    }
    }
    
  }
  
//  HEAD 
header {
    display: flex;
    flex-direction: column;
    align-items: center;
        .header__logo {
            box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
            z-index: 3;
            width: 100%;
            display: flex;
            justify-content: center;
            &--img {
                padding: 50px;
               
            }
        }
        
        .header__localisation {
            background-color: $bgcolor1;
            padding: 10px 0px 10px 0px;
            width: 100%;
            text-align: center;
            font-size: 27px;
            color: #353535;
            font-weight: 400;
            box-shadow: 0px 14px 11px -6px rgba(0,0,0,0.45);
            z-index: 2;

            }
        .header__localisation i {
            padding-right: 40px;
        }
        .header__banner {
            background-color: $bgcolor2  ;
            width: 100%;
            padding-top: 50px;
            padding-bottom: 150px;
            text-align: center;
           
            
            &--title {
                padding: 0% 15% 0% 15%;
                font-size: 55px;
            }
            &--paragraph {
                color: #353535;
                font-weight: 300;
                padding: 0% 8% 0% 8%;
                font-size: 25px;
                padding-bottom: 70px;
            }
            &--button {
                padding: 10px;
            }
                &--button--link {
                    text-decoration: none;
                    background:linear-gradient(50deg, #9356DC, #FF79DA);
                    opacity: 1;
                    padding: 40px 40px;
                    border-radius: 60px;
                    color: $colortxtwhite ;
                    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.2);
                    &:hover {
                        opacity: 0.8;
                        box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.4);
                    }
                
                }
        }
}
// partie filtre
.filters {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
    &__title {
        font-size: 40px;
        display: flex;
        align-self: flex-start;
        padding-left: 5%;
        padding-top: 90px;
    }
    &__contener {
        display: flex;
        flex-direction: column;
        &:hover .filters__contener--link i {
            color: $color2;
        }
        &--button {
            display: flex;
            align-self: flex-start;
            position: relative;
            top: 120px;
            right: 30px;
            border-radius: 50%;
            padding: 15px 26px;
            color: $colortxtwhite ;
            background-color: $color2;
            border: $color2;
            font-size: 35px;
            z-index: 1;
            
        }
        &--link { &-1,&-2,&-3 {

            display: flex;
            justify-content: center;
            text-decoration: none;
            color: black;
            padding: 60px 40px;
            border-radius: 50px;
            background-color: $bgcolor2;
            font-size: 36px;
            width: 750px;
            box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.2);
            opacity: 1;
            &:hover {
                opacity: 0.8;
                box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.4);
            }
            &:hover i {
                color: $color2;
            }
            }
        }
        &--link { &-1 i,&-2 i,&-3 i {
            padding-right: 30px;
            color: #7E7E7E;
        }
    }
}
}

// choix des restaurant et cartes restaurant
.restaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $bgcolor2 ;
        &__title {
            display: flex;
            align-self: flex-start;
            padding-left: 8%;
            font-size: 50px;
            margin-top: 50px;
        }
        &__cards {
            display: flex;
            flex-direction: column;
            &--card { 
                width:900px;
                background-color: $mainbgcolor;
                border-radius: 40px;
                position: relative;
                filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
                display: flex;
                flex-direction: column;
                margin-bottom: 50px;
                &-img {
                    width: 100%;
                    height: 450px;
                    border-top-left-radius:40px;
                    border-top-right-radius: 40px; 
                    object-fit: cover;   
                }
                &-new {
                    position: absolute;
                    bottom: 500px;
                    left: 700px;
                    padding: 15px 26px;
                    background-color: $color1;
                    font-size: 30px;
                    color: #008766;
                    border-radius: 5px;
        
                }
                &-content {
                    width: 430px;
                    padding-left: 70px;
                    height: 160px;
                    position: relative;
                    &-title {
                        color: black;
                        font-size: 40px;
                        margin-bottom: -20px;
                        margin-top: 30px;
                        
                    }
                    &-subtitle {
                        color: black;
                        font-size: 35px;
                        margin-bottom: 0px;
                        padding-bottom: 40px;
                    }
                    
                }
            &-like {
                display: flex;
                align-self: flex-end;
                position: absolute;
                bottom: 60px;
                right: 60px;
               
            }    
            &-like i {
                font-size: 50px;
                transition-property: all;
                transition: 300ms cubic-bezier(1,.05,0,1.49);
                animation-direction: alternate;
                &:hover {
                    font-weight: 900;
                    color: transparent;
                    background:linear-gradient(50deg, #9356DC, #FF79DA);
                    background-clip: text;
                    
                  
                }
            }
        }
    }
}
// footer
.footer {
    background-color: #353535;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    &__content {
        padding-left: 40px;
        &--logo {
            color: $colortxtwhite ;
            font-family: "Shrikhand", serif;
            font-size: 40px;
        }
        &--links {
            display: flex;
            flex-direction: column;
        }
        &--links a {
            color: $colortxtwhite ;
            padding-top: 20px;
            font-size: 30px;
        }
        &--links i {
            padding-right: 10px;
        }
}
}

@media (min-width: 1440px) {
    
    header .header__banner--button--link {
        padding: 20px 50px;
        border-radius: 60px;
      }
    header .header__banner {
        padding-top: 40px;
        padding-bottom: 50px;
        text-align: center;

      }
    header  .header__localisation {
       box-shadow: none;

        }
    header  .header__logo {
            box-shadow: none;
    }
    .filters {
        margin-bottom: 100px;
        .filters__title {
            font-size: 24px;
            padding-left: 12%;
        }
        .filters__contener {
            display: flex;
            flex-direction: row;
        }
            &__contener--button {
                top: 30px;
                left: 25px;
                padding: 10px 15px;
                font-size: 15px;
            }
            &__contener--link {&-1,&-2,&-3{
                border-radius: 40px;
                font-size: 20px;
                width: 300px;
                padding: 40px;
            }
        }
    }
    .restaurants {
        padding-left: 50px;
        padding-right: 50px;
            .restaurants__title {
                padding-left: 12%;
                font-size: 30px;
            }
            .restaurants__cards {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                gap: 20px 40px;
               
            }
            &__cards--card { 
                width:600px;
                    &-img {
                        height: 210px;
                    }
                    &-new {
                        bottom: 250px;
                        left: 450px;
                        padding: 10px 20px;
                        font-size: 20px;
                       
            
                    }
                    &-content {
                        padding-left: 30px;
                        height: 100px;
                        &-title {
                            font-size: 25px;
                            margin-top: 15px;
                        }
                        &-subtitle {
                            font-size: 25px;
                        }
                        
                    }
                &-like {
                    bottom: 35px;
                    right: 40px;
                   
                }    
               
            }
            
    } 
.footer {
    padding-top: 0px;

    &__content {
        display: flex;
        flex-direction: row-reverse;
        align-items: baseline;
        justify-content: end;
        padding-top: 40px;
        padding-right: 60px;
        &--logo{
                font-size: 20px;
                padding-left: 80px;
                
            
                
            }
            &--links {
                display: flex;
                flex-direction: row;
                gap: 50px;
            }
        &--links a {
                font-size: 20px;
                padding: 0px;
            }
}
}
}