// variables
$mainbgcolor : #ffffff;
$bgcolor1 :  #eaeaea; 
$bgcolor2 : #f6f6f6;
$color1 :  #8de4db;
$color2 :  #9356DC;
$colortxtwhite : white;

// main
body{
    margin: 0px;
    font-family: roboto;
    background-color: #f6f6f6;
}
a {
    text-decoration: none;
}

// .navbar et header
.navbar {
    background-color: $mainbgcolor;
    display: flex;
    align-items: center;
    
    .navbar__logo {
        padding-top: 50px;
        padding-bottom: 50px;
        margin: auto;
       
    }
    .navbar__return i {
        font-size: 60px;
        color: black;
        position: relative;
        left: 40px;
    }

}
.banner img {
    object-fit: cover;
    width: 100%;
    height: 600px;
}

// menu
.menu {
    background-color: $bgcolor2;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    position: relative;
    bottom: 110px;
    padding-top: 50px;
    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__head i {
        font-size: 50px;
        color: black;
        transition-property: all;
        transition: 300ms cubic-bezier(1,.05,0,1.49);
        animation-direction: alternate;
        padding-right: 50px;
        &:hover {
            font-weight: 900;
            color: transparent;
            background:linear-gradient(50deg, #9356DC, #FF79DA);
            background-clip: text;
          
        }
    }
    &__head--title {
        font-family: "Shrikhand", serif;
        font-size: 60px;
        padding-left: 40px;
    }
}
.entree {
    animation: appear 400ms 600ms ease-in-out;
    animation-fill-mode: both;
    
}
.plat {
    animation: appear 400ms 1000ms ease-in-out;
    animation-fill-mode: both;
}
.desserts {
    animation: appear 400ms 1400ms ease-in-out;
    animation-fill-mode: both;
}
@keyframes appear {
    0% {
        transform: translateX(-9999px);
    }
    100% {
        transform: translateX(0);
        }
    }

.menu__choice {
    padding: 0px 50px;
    &--title {
        font-weight: 200;
        font-size: 50px;
        padding-bottom: 20px;
        &-highlight {
            position: relative;
            display: inline-block;
        }
        &-highlight::after {
            content: '';
            position: absolute;
            bottom: -12px;
            left: 0;
            width: 50%;
            height: 6px; 
            background-color: $color1; 
        }
    }
    &--card {
        background-color: $mainbgcolor;
        border-radius: 40px;
        box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 20px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        &-content {
            padding-left: 50px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            &-title {
                font-size: 40px;
                font-weight: 450;
                margin-bottom: -20px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;

            }
            &-subtitle {
                font-size: 35px;
                font-weight: 300;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
        &-price {
            font-size: 35px;
            font-weight: 450;
            display: flex;
            align-self: end;
            margin-right: -140px;
            transition: all 400ms;
            
            
            }
        &:hover .menu__choice--card-price {
            margin-right: 0px;
        }
        &-price p {
            padding-right: 40px;
            display: flex;
            align-self: end;
            margin-left: 50px;
    
        }
        .check {
            padding-left: 50px;
            background-color:$color1;
            padding-top: 70px;
            padding-bottom: 70px;
            padding-right: 50px;
            border-top-right-radius: 40px;
            border-bottom-right-radius: 40px;
            color:$colortxtwhite;
            }
        }
    }


.menu__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}
.menu__button button {
   font-size: 40px;
   font-weight: 500;
   margin-top: 70px;
   color: $colortxtwhite;
   background:linear-gradient(10deg, #9356DC, #FF79DA);
   border: none;
   padding: 50px 140px;
   border-radius: 65px;
   box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
   &:hover {
    opacity: 0.8;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.4);
}

}
// footer
.footer {
    background-color: #353535;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    &__content {
        padding-left: 40px;
        &--logo {
            color: $colortxtwhite ;
            font-family: "Shrikhand", serif;
            font-size: 40px;
        }
        &--links {
            display: flex;
            flex-direction: column;
        }
        &--links a {
            color: $colortxtwhite ;
            padding-top: 20px;
            font-size: 30px;
        }
        &--links i {
            padding-right: 10px;
        }
}
}
// media queries
@media (min-width: 1440px) {
    body  {
        background-color: $mainbgcolor;
    }

    .menu {
        width: 80%;
        margin: auto;
        padding-bottom: 100px;
        margin-bottom: -110px;
        &__head {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 50px;
        }
        &__choice {
            padding-left: 10%;
            padding-right: 10%;
        }
        
        
    }
    .footer {
        padding-top: 0px;
    
        &__content {
            display: flex;
            flex-direction: row-reverse;
            align-items: baseline;
            justify-content: end;
            padding-top: 40px;
            padding-right: 60px;
            &--logo{
                    font-size: 20px;
                    padding-left: 80px;
                    
                
                    
                }
                &--links {
                    display: flex;
                    flex-direction: row;
                    gap: 50px;
                }
            &--links a {
                    font-size: 20px;
                    padding: 0px;
                }
    }
    }
}