body {
  margin: 0px;
  font-family: roboto;
  background-color: #f6f6f6;
}

a {
  text-decoration: none;
}

.navbar {
  background-color: #ffffff;
  display: flex;
  align-items: center;
}
.navbar .navbar__logo {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
}
.navbar .navbar__return i {
  font-size: 60px;
  color: black;
  position: relative;
  left: 40px;
}

.banner img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 600px;
}

.menu {
  background-color: #f6f6f6;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  position: relative;
  bottom: 110px;
  padding-top: 50px;
}
.menu__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__head i {
  font-size: 50px;
  color: black;
  transition-property: all;
  transition: 400ms;
  padding-right: 50px;
}
.menu__head i:hover {
  font-weight: 900;
  color: transparent;
  background: linear-gradient(50deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
}
.menu__head--title {
  font-family: "Shrikhand", serif;
  font-size: 60px;
  padding-left: 40px;
}

.entree {
  animation: appear 400ms 400ms ease-in-out;
  animation-fill-mode: both;
}

.plat {
  animation: appear 400ms 800ms ease-in-out;
  animation-fill-mode: both;
}

.desserts {
  animation: appear 400ms 1200ms ease-in-out;
  animation-fill-mode: both;
}

@keyframes appear {
  0% {
    transform: translateX(-9999px);
  }
  100% {
    transform: translateX(0);
  }
}
.menu__choice {
  padding: 0px 50px;
}
.menu__choice--title {
  font-weight: 200;
  font-size: 50px;
  padding-bottom: 20px;
}
.menu__choice--title-highlight {
  position: relative;
  display: inline-block;
}
.menu__choice--title-highlight::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 50%;
  height: 6px;
  background-color: #8de4db;
}
.menu__choice--card {
  background-color: #ffffff;
  border-radius: 40px;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu__choice--card-content {
  padding-left: 50px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu__choice--card-content-title {
  font-size: 40px;
  font-weight: 450;
  margin-bottom: -20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu__choice--card-content-subtitle {
  font-size: 35px;
  font-weight: 300;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu__choice--card-price {
  font-size: 35px;
  font-weight: 450;
  display: flex;
  align-self: end;
  margin-right: -140px;
  transition: all 400ms;
}
.menu__choice--card:hover .menu__choice--card-price {
  margin-right: 0px;
}
.menu__choice--card-price p {
  padding-right: 40px;
  display: flex;
  align-self: end;
  margin-left: 50px;
}
.menu__choice--card .check {
  padding-left: 50px;
  background-color: #8de4db;
  padding-top: 70px;
  padding-bottom: 70px;
  padding-right: 50px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  color: white;
}

.menu__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.menu__button button {
  font-size: 40px;
  font-weight: 500;
  margin-top: 70px;
  color: white;
  background: linear-gradient(10deg, #9356DC, #FF79DA);
  border: none;
  padding: 50px 140px;
  border-radius: 65px;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
.menu__button button:hover {
  opacity: 0.8;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.4);
}

.footer {
  background-color: #353535;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__content {
  padding-left: 40px;
}
.footer__content--logo {
  color: white;
  font-family: "Shrikhand", serif;
  font-size: 40px;
}
.footer__content--links {
  display: flex;
  flex-direction: column;
}
.footer__content--links a {
  color: white;
  padding-top: 20px;
  font-size: 30px;
}
.footer__content--links i {
  padding-right: 10px;
}

@media (min-width: 1440px) {
  body {
    background-color: #ffffff;
  }
  .menu {
    width: 80%;
    margin: auto;
    padding-bottom: 100px;
    margin-bottom: -110px;
  }
  .menu__head {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  .menu__choice {
    padding-left: 10%;
    padding-right: 10%;
  }
  .footer {
    padding-top: 0px;
  }
  .footer__content {
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
    justify-content: end;
    padding-top: 40px;
    padding-right: 60px;
  }
  .footer__content--logo {
    font-size: 20px;
    padding-left: 80px;
  }
  .footer__content--links {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
  .footer__content--links a {
    font-size: 20px;
    padding: 0px;
  }
}/*# sourceMappingURL=resto.css.map */